@charset "utf-8";

body { background: url(../images/bg_main.jpg) top center; background-position-x: 50%; background-position-y: 10%; background-attachment: fixed; }
.t_lead { text-align: center; padding: 125px 0 110px; font-family: "游明朝", "Yu Mincho"; color: #fff; }
.t_lead h3 { font-size: 24px; margin: 15px 0 35px; text-shadow: 1px 1px rgba(42, 63, 70, .56); }
.t_lead h4 { font-size: 36px; text-shadow: 1px 1px rgba(42, 63, 70, .56); margin-bottom: 37px; }
.about_anchor { }
.about_anchor li { display: table; width: 300px; float: left; margin: 0 0 15px 25px; }
.about_anchor a { display: table-cell; height: 75px; vertical-align: middle; line-height: 1.1; background: #fff; position: relative; text-align: left; padding-left: 20px; font-size: 19px; font-weight: bold; color: #3b3c41; text-decoration: none; letter-spacing: -1.5px; }
.about_anchor a:hover { background: #e6d2bf; }
.about_anchor a span { color: #93772a; font-size: 22px; }
.about_anchor a img { position: absolute; right: 0; top: 50%; transform: translateY(-50%); }
.t_about { background: rgba(255, 255, 255, 0.14); padding: 110px 0 75px; position: relative; }
.t_about:before { content: ""; position: absolute; background: url(../images/arrow01.png) no-repeat; width: 84px; height: 26px; top: -13px; left: 50%; margin-left: -42px; }
.t_about h3 { text-align: center; padding-bottom: 53px; position: relative; }
.t_about h3 small { font-family: "游明朝", "Yu Mincho"; color: #fff; font-size: 20px; display: block; padding-top: 10px; }
.t_about h3:before { content: ""; width: 1px; height: 16px; background: #fff; position: absolute; bottom: 20px; left: 50%; }
.lead_about { font-size: 13px; text-align: center; color: #fff; width: 670px; margin: 0 auto 130px; }
.lead_about p { line-height: 1.8; }
.box_about { background: #fff; display: table; margin-bottom: 30px; }
.box_about .text { display: table-cell; width: 610px; padding: 0 55px 0 45px; vertical-align: middle; }
.box_about .text h4 { font-family: "游明朝", "Yu Mincho"; font-size: 26px; color: #414141; margin-bottom: 10px; }
.box_about .text h4 span { color: #93772a; font-size: 32px; }
.box_about .image { display: table-cell; vertical-align: middle; position: relative; overflow: hidden; z-index: 3; width: 390px; text-align: center; height: 264px; }
.box_about .image img { position: absolute; top: 0; left: 0; min-width: 100%; min-height: 100%; z-index: -1; }
.box_about .image li { margin: 5px; }
.t_support { background-image: url(../images/bg_support.jpg); background-repeat: no-repeat; background-size: cover; background-attachment: fixed; padding: 60px 0 40px; }
.t_support h3 { font-family: "游明朝", "Yu Mincho"; color: #fff; font-size: 31px; padding-bottom: 30px; position: relative; text-align: center; }
.t_support h3:before { content: ""; width: 1px; height: 16px; background: #fff; position: absolute; bottom: 20px; left: 50%; }
.t_support h3 span { font-size: 56px; }
.t_support ul { margin: 0 -10px; }
.t_support li { float: left; margin: 0 10px 25px; }
.t_support a { text-align: center; color: #fff; text-decoration: none; font-family: "游明朝", "Yu Mincho"; font-size: 16px; font-weight: bold; }
.t_support a span { display: block; padding-top: 20px; }
.t_support a:hover span { color: #f0c54e; }
.lead_support { font-size: 13px; text-align: center; color: #fff; width: 670px; margin: 0 auto 50px; line-height: 1.8; }
.t_information { background: #3c3c3c; color: #fff; padding: 65px 0; }
.t_information h3 { text-align: center; border-bottom: 1px solid #fff; padding-bottom: 30px; margin-bottom: 35px; }
.t_information .btn_more { position: absolute; top: 13px; right: 10px; }
.news_list { margin: 0 10px; height: 270px; overflow: auto; }
.news_list li { float: left; width: 460px; border-top: 1px solid #cfcfcf; padding: 27px 15px 40px; margin-right: 20px; }
.news_list li time { color: #e3dbcd; font-size: 18px; font-weight: bold; display: block; }
.news_list li a { font-size: 11px; text-decoration: none; color: #fff; }
.news_list li a:hover { text-decoration: underline; }