@charset "utf-8";
.tt_page { background: url(../images/bg_main_visual.jpg) left bottom; text-align: center; padding: 45px 0 48px; }
.crumb { background: url(../common_img/ico_home.png) left 2px no-repeat; margin: 8px 0 25px; padding-left: 19px; }
.crumb li { float: left; margin-right: 35px; position: relative; }
.crumb li:after { content: "＞"; color: #66b104; position: absolute; top: 0px; right: -25px; }
.crumb li:last-child:after { display: none; }
.crumb a { color: #66b104; text-decoration: none; }
.crumb a:hover { text-decoration: underline; }
.tbl01 { width: 100%; }
.tbl01 th { background: #fffff6; border: 1px solid #f5f5f5; padding: 15px 20px; width: 180px; text-align: left; vertical-align: middle; font-weight: normal; }
.tbl01 td { border: 1px solid #f5f5f5; padding: 15px 20px; }
.tbl02 { width: 100%; }
.tbl02 th { border-bottom: 1px solid #f5f5f5; padding: 6px 2px; width: 75px; text-align: left; vertical-align: middle; font-weight: normal; color: #66b104; }
.tbl02 td { border-bottom: 1px solid #f5f5f5; padding: 6px 0px; }
.sec01 { margin-bottom: 50px; padding-top: 217px; margin-top: -217px; }
.sec01 h3 { margin-bottom: 30px; }
.box_contact { position: relative; }
.box_contact .text { position: absolute; left: 275px; top: 80px; }
ul.list01 li { padding-left: 18px; position: relative; }
ul.list01 li:before { content: "◆"; color: #b6d48f; position: absolute; left: 0; top: 0; }
.anchors { margin: 0 -15px 35px -3px; }
.anchors li { float: left; margin: 0 10px 10px 0; }
/*====================================================================================
■01.Company PAGE 
====================================================================================*/
.company_box01 { background: url(../company/images/bg01.jpg) center center; background-size: cover; text-align: center; padding: 40px 0 40px; color: #2e4d46; line-height: 1.7; }
.company_box02 .map { float: left; border: 5px solid #e1e1e1; }
.company_box02 .map iframe { display: block; }
.company_box02 .pull_right { width: 450px; }

/*====================================================================================
■01.Flow PAGE 
====================================================================================*/
.flow_box { border: 1px solid #f4f4f4; }
.flow_box .image { float: left; margin: 5px 40px 10px 0; }

/*====================================================================================
■03.Privacy PAGE 
====================================================================================*/
.sec_privacy p { margin-bottom: 25px; }
.sec_privacy h4 { margin-bottom: 15px; }
.privacy_box01 { background: url(../privacy/images/bg01.jpg) bottom right; background-color: #f9fef8; -webkit-box-shadow: 1px 2px 5px rgba(215, 220, 228, .75), inset 0 0 0 5px rgba(255, 255, 255, .34); -moz-box-shadow: 1px 2px 5px rgba(215, 220, 228, .75), inset 0 0 0 5px rgba(255, 255, 255, .34); box-shadow: 1px 2px 5px rgba(215, 220, 228, .75), inset 0 0 0 5px rgba(255, 255, 255, .34); border: solid 1px #c7ded6; margin-top: 25px; padding: 35px 20px; }
.privacy_box01 li { padding-left: 15px; margin-bottom: 10px; position: relative; }
.privacy_box01 li:before { content: "■"; color: #2a9300; position: absolute; left: 0; top: 0; }