@charset "utf-8";
.main_visual { height: 480px; text-align: center; overflow: hidden; position: relative; }
.main_visual img { position: absolute; left: 50%; margin-left: -1000px; }

.t_trouble { background: url(../common_img/bg01.jpg); padding: 50px 0 90px; text-align: center; }
.list_bnr { margin: 0 -25px; }
.list_bnr li { float: left; margin-bottom: 0; margin-left: 5px; }
.list_bnr li:nth-child(3n+1) { margin: 0 35px 0 0; }
.list_bnr li:nth-child(3n) { float: right; }

.t_about { padding: 135px 0 50px; position: relative; }
.t_about h3 { position: absolute; top: -70px; left: 50%; margin-left: -304px; z-index: 2; }
.t_strong { border: 1px solid #b08f00; padding: 2px; }
.t_strong .inner { border: 15px solid #ffe66f; background: url(../images/bg01.jpg); background-size: cover; position: relative; padding: 75px 35px 23px; }
.t_strong .inner h4 { position: absolute; top: -45px; left: 50%; margin-left: -235px; }
.t_strong .inner dd { margin: -20px 0 15px 85px; }
.t_strong .inner dd span { color: #f65700; }

.t_service { background: url(../common_img/bg01.jpg); padding: 0 0 45px; }
.t_service h3 { background-color: #fe8a01; -webkit-box-shadow: 0 0 3px #fff, 0 2px 3px rgba(0, 0, 0, .59); -moz-box-shadow: 0 0 3px #fff, 0 2px 3px rgba(0, 0, 0, .59); box-shadow: 0 0 3px #fff, 0 2px 3px rgba(0, 0, 0, .59); border-top: solid 3px #fff; border-bottom: solid 3px #fff; text-align: center; padding: 18px 0 14px; margin-bottom: 30px; position: relative; }
.t_service h3:before { content: ""; background: url(../images/arrow01.png)no-repeat; width: 21px; height: 18px; position: absolute; left: 50%; margin-left: -9px; bottom: -16px; }
.list_service { margin-right: -5px;}
.list_service li { float: left; margin-right: 4px; }
.list_service a { display: block; position: relative; text-decoration: none; }
.list_service a span { font-size: 13px; position: absolute; top: 283px; left: 15px; right: 15px; text-align: center; }

.t_info { padding: 40px 0 70px; }
.t_news { float: right; width: 660px; }
.t_news h3 { border-bottom: 3px solid #fe8a01; position: relative; padding-bottom: 10px; }
.t_news h3 a { position: absolute; right: 0; top: 10px; }
.t_news .list_news { border-bottom: 2px solid #fe8a01; height: 200px; overflow: auto; padding-right: 15px; }
.t_news .list_news dt { float: left; width: 95px;  }
.t_news .list_news dd { overflow: hidden; margin-bottom: 20px; min-height: 22px; }