@charset "utf-8";

.tt_page { background: #f0dec6; margin-bottom: 10px; }
.tt_page .circle { position: absolute; right: 0; top: 23px; z-index: 3; width: 156px; }
.crumb { margin-bottom: 25px; }
.crumb li:first-child a { background: url(../common_img/ico_home.png) left 5px no-repeat; padding-left: 16px; }
.crumb li { float: left; margin-right: 20px; position: relative; }
.crumb li:before { content: ">"; position: absolute; right: -15px; top: 0; }
.crumb li:last-child:before { display: none; }
.crumb a { color: #816f66; }
#main { padding-bottom: 100px; }
#content { float: left; width: 720px; color: #563f2d; }
#sidebar { float: right; width: 230px; color: #563f2d; }
#sidebar section { background: url(../common_img/pattern01.png); padding: 15px 7px; margin-bottom: 20px; }
.s_list01 li { margin-bottom: 4px; }
.s_list01 a { background: url(../common_img/arrow01.png) 190px center no-repeat #fdfbf4; border: 1px solid #e2d6b6; text-decoration: none; padding: 13px 15px; display: block; line-height: 1.2; color: #563f2d; transition: all 0.5s; }
.s_list01 li:nth-child(4) a { padding: 4px 15px; }
.s_list01 a:hover { background-color: #efe9d6; }
.sec01 { margin-bottom: 40px; }
.sec01 h3 { margin-bottom: 20px; }
.bnr_contact { position: relative; padding-left: 15px; }
.bnr_contact .text { position: absolute; top: 30px; left: 250px; }
.bnr_contact .text h4 { font-size: 18px; font-weight: normal; margin: 0 0 10px 20px; }
.tt01 { border-bottom: 1px solid #f1e7c5; padding:0 0 5px 16px; position: relative; margin-bottom: 30px; font-family: TsukuMinPro, Garamond , "Times New Roman" , "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "游明朝" , "Yu Mincho" , "游明朝体" , YuMincho, "HGS明朝E" , "ＭＳ Ｐ明朝", "MS PMincho", serif; font-size: 18px; font-weight: normal; }
.tt01:before { content: ""; background: #c76a21; width: 9px; height: 9px; -moz-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg); position: absolute; left: 2px; top: 9px; }
a[rel="lightbox"] { display: inline-block; position: relative; }
a[rel="lightbox"]:before { content: ""; background: url(../common_img/ico_zoom.png) no-repeat; width: 45px; height: 45px; position: absolute; right: 5px; bottom: 5px; z-index: 2; }
a[rel="lightbox"] img { border: 1px solid #f8f4e6; }
/*====================================================================================
■01.Ome PAGE 
====================================================================================*/
.list_phase {padding: 30px 0; }
.list_phase dt { position: relative; -webkit-border-radius: 10px/9px; -moz-border-radius: 10px/9px; border-radius: 10px/9px; background-color: #f0dfc7; -webkit-box-shadow: inset 0 0 0 1px #fffcfa; -moz-box-shadow: inset 0 0 0 1px #fffcfa; box-shadow: inset 0 0 0 1px #fffcfa; border: solid 2px #f0dfc7; margin: 0 0 25px 40px; font-size: 16px; padding: 16px 15px 16px 55px; }
.list_phase dt img { position: absolute; top: -20px; left: -45px; z-index: 2; }
.list_phase dd { margin: 0 -15px 30px 0; position: relative; padding-left: 90px; }
.list_phase dd:before { content: ""; width: 0; height: 0; border-top: 10px solid #f0dfc7; border-right: 26px solid transparent;  border-left: 26px solid transparent; left: 20px; top: 5px; position: absolute; }
.list_phase dd:last-child:before { display: none; }
/*====================================================================================
■02.Contact PAGE 
====================================================================================*/
.tbl01 { width: 100%; border-spacing: 1px; border-collapse: inherit; }
.tbl01 th { background: #fdfbf4; width: 212px; border: 1px solid #e1d5b6; padding: 11px; vertical-align: middle; text-align: left; }
.tbl01 td { background: #fff; border: 1px solid #e1d5b6; padding: 11px; vertical-align: middle; }
/*====================================================================================
■03.Works PAGE 
====================================================================================*/
.works_sec { border: 1px solid #f0dfc7; padding: 1px; margin-bottom: 20px; }
.works_sec h5 { background: #f7eddf; font-size: 16px; font-weight: normal; padding: 10px 15px; }
.works_sec .cnt { padding: 13px;}
.works_sec .image { float: left; width: 285px; margin-right: 15px; }
.works_sec .image p { margin-right: -10px; }
.works_sec .image img { max-width: 100%; }
.works_sec .text { float: right; width: 390px; }
/*====================================================================================
■04.Company PAGE 
====================================================================================*/
.tbl02 { width: 100%; }
.tbl02 th { background: #f8eecc; border: 1px solid #eee4c4; color: #816f66; padding: 8px 12px; width: 140px; text-align: left; }
.tbl02 td { border: 1px solid #eee4c4; padding: 8px 12px; }
#map { border: 1px solid #eee4c3; padding: 2px; margin: 30px 0 5px; }
#map iframe { display: block; }