@charset "utf-8";
/*====================================================================================
■01.Title_pages
■02.Content PAGE 
====================================================================================*/
/*====================================================================================
■01.Title_pages
====================================================================================*/
.tt_page_wrap {background: url(/public/common_img/gray_bg.png) repeat-x left top; height: 247px; position: relative; z-index: 1;}
.tt_page_wrap .tt_page {background: url(/public/common_img/tt_page_bg.png) no-repeat center top; height: 247px; position: relative; z-index: 2;}
.tt_page_wrap .tt_page h2 {text-align: center;font-size: 36px;color: #000;font-family: 'robotoregular', sans-serif;padding-top: 86px;text-shadow: 2px 3px 3px #ccc;}

.banner_contact {background: url(/public/common_img/banner_bg.png) no-repeat center top; width: 1000px; height: 354px; position: relative; margin: 0px auto;}
.banner_contact p {position: absolute; top: 209px; left: 396px;}
/*====================================================================================
■02.Liên hệ
====================================================================================*/
.contact_sec p {margin-bottom: 20px;}
.wrap_form {padding: 0px 120px;}
.contact_sec table { width: 100%; font-size: 14px;margin-left: 7px; font-family: 'robotoregular', sans-serif;}
.contact_sec table th {padding: 15px 20px;width: 211px;background: #f9f9f9;text-align: left;vertical-align: top;border:1px solid #e8e8e8;}
.contact_sec table td {padding: 15px 30px 15px 20px;border:1px solid #e8e8e8;}
input {padding: 2px 5px;}
textarea {padding: 5px 5px; font-family: 'Open Sans', sans-serif;}
.w100 {width: 100%; height: 30px;}
.w100-area {width: 100%;}
.h30 {height: 35px;}
.h40 {height: 30px;}
.btn_form {width: 235px;height: 45px;background: #ff9000;color: #fff;font-weight: bold;border: none;transition: all linear 0.3s;font-size: 18px;cursor: pointer;font-family: 'robotoregular',sans-serif;margin-left: 279px;}
.btn_form:hover {background: #3cb4b4;}

.contact_sec table td .error-block { color: #ff9000;
    margin-bottom: 0px;
    margin-top: 5px;
    font-size: 12px;
    font-weight: bold; }
/*====================================================================================
■03.Giới thiệu
====================================================================================*/
.about_sec {margin-bottom: 50px;}
.about_sec h3 {text-align: center; margin-bottom: 25px;}
.about_sec .clearfix > img {float: left; margin-right: 40px; border: 1px solid #3cb4b4; padding: 50px; transition: all linear 0.3s;}
.about_sec .clearfix p {margin-bottom: 10px; line-height: 22px;}
.about_sec.bg1 {background: url(/public/images/gioithieu/bg1.png) no-repeat center top; background-size: cover; min-height: 435px; padding-top: 65px;}
.about_sec.bg1 h3 {margin-bottom: 15px;font-size: 30px;font-weight: bold;border-bottom: 1px solid #fff;padding-bottom: 9px;position: relative;z-index: 4;color: #fff;min-width: 143px;display: inline-block;text-align: left;}
.about_sec.bg1 h3:after {content: '';position: absolute;right: -11px;bottom: -7px;width: 12px;height: 12px;background: url(/public/images/gioithieu/icon.png) no-repeat center top;}
.about_sec.bg1 p {margin-bottom: 45px; color: #fff; width: 530px;}
.about_sec ul {width: 510px;margin: 35px auto 0;}
.about_sec ul li {background: url(/public/images/gioithieu/icon2.png) no-repeat left center; padding-left: 32px; margin-bottom: 10px;}
/*====================================================================================
■04.Căn hộ
====================================================================================*/

/*====================================================================================
■05.Biệt thự
====================================================================================*/

/*====================================================================================
■06.Đất nền
====================================================================================*/

/*====================================================================================
■07.Nhà phố
====================================================================================*/

/*====================================================================================
■08.Product common
====================================================================================*/
.product {padding: 50px 0px;}
.product .product_box {border:1px solid;}
.product h3 {text-align: center;background: url(/public/common_img/tt_bg.png) no-repeat center top;width: 423px;height: 71px;margin: -78px auto 40px auto;color: #fff;font-size: 22px;font-family: 'robotoregular', sans-serif;line-height: 55px;}
.product .wrap_product .product_box:hover {border:1px solid #ff5a00;}
.product .wrap_product .product_box:hover .product_img img {transform: scale(1.07); transition: all linear 0.3s;}
.product .wrap_product .product_box {width: 298px;float: left;margin-right: 50px;margin-bottom: 50px;position: relative;background: #fff;border:1px solid #d4d4d4;transition: border linear 0.4s;}

.product .wrap_product {margin-right: -50px;}
.product .wrap_product .product_box:after {content: ''; position: absolute; width: 299px; height: 25px; bottom: -25px; left: 1px; background: url(/public/images/shadow.png) no-repeat center top;}
.product .wrap_product .product_box .product_img {text-align: center; margin-bottom: 10px; overflow: hidden; position: relative; height: 200px; }
.product .wrap_product .product_box .product_img img { max-width: 100%; transition: all linear 0.4s; position: absolute; left: 0px; top: 0px; bottom: 0px; margin: auto; right: 0px; }
.product .wrap_product .product_box h4 {text-align: center; color: #ff5a00; font-size: 20px; font-family: 'robotoregular', sans-serif; margin-bottom: 10px;}
.product .wrap_product .product_box .product_text {padding: 0px 15px 15px 15px;}

.product_detail h3 {font-size: 30px;text-align: center; font-family: 'robotoregular', sans-serif;color: #ff5a00;line-height: 40px; margin-bottom: 30px;}
.product_detail h3 span {font-size: 20px; font-weight: 100;}
.product_detail h4 {color: #3cb4b4; font-size: 24px; margin-bottom: 20px; font-weight: 400;}
.product_detail .detail_logo {text-align: center; margin-bottom: 20px;}
.product_detail .detail_logo img {width: 191px; height: auto;}
.product_detail .detail_end {font-size: 16px; color: #ff5a00; font-style: italic; font-weight: bold; text-align: center; margin-bottom: 0px;}
.product_detail p {margin-bottom: 20px;text-align: left;}
.product_detail p img {display:block; margin:0px auto 10px auto; max-width: 1000px; }
.product_detail .detail_img {text-align: center; margin-bottom: 25px;}
.product_detail p span {font-size: 12px; font-weight: 100;}
.product_detail .detail_btn a {display: block; width: 250px; height: 50px; line-height: 50px; color: #fff; background: #ff5a00; text-align: center; margin: 30px auto; text-decoration: none; font-size: 16px; font-weight: 100; transition: all linear 0.3s;}
.product_detail .detail_btn a:hover {background: #3cb4b4;}
.product_detail ul {margin-bottom: 30px;}
.product_detail ul li {background: url(/public/images/gioithieu/icon2.png) no-repeat left center; padding-left: 32px; margin-bottom: 10px; font-size: 14px;  text-align:left;}
.detail_btn a {display: block; width: 250px; height: 50px; line-height: 50px; color: #fff; background: #ff5a00; text-align: center; margin: 30px auto; text-decoration: none; font-size: 16px; font-weight: 100; transition: all linear 0.3s;}

.product_detail .detail_option {width: 100%; margin-bottom: 30px; text-align:left;}
.product_detail .detail_option thead th {background: #dbc996; padding: 30px 20px; border: 1px solid #bfac78; vertical-align: middle; width: 180px; transition: all linear 0.15s; font-weight: 700; text-align: center; vertical-align: top; font-size: 22px;}
.product_detail .detail_option thead tr:hover {background: #e2e0cb;}
.product_detail .detail_option thead tr:hover th {background: #e2e0cb;}

.product_detail .detail_option tbody th {background: #dbc996;padding: 12px 20px;border: 1px solid #bfac78;vertical-align: middle;width: 245px;transition: all linear 0.15s;font-weight: normal;text-align: left;vertical-align: top;}
.product_detail .detail_option tbody td {padding: 12px 20px; border: 1px solid #bfac78; transition: all linear 0.3s;  text-align: left;}
.product_detail .detail_option tbody td p {margin-bottom: 20px; text-align:left;}
.product_detail .detail_option tbody tr:hover {background: #e2e0cb;}
.product_detail .detail_option tbody tr:hover th {background: #e2e0cb;}

.product_detail .detail_navigation {margin-top: 60px;}
.product_detail .detail_navigation li {float: left; background: none; padding-left: 0px;}
.product_detail .detail_navigation li a {text-decoration: none; color: #fff; font-weight: 100; display: block; text-align: center; background: #333; padding: 5px 20px; width: 100px; transition: all linear 0.3s;}
.product_detail .detail_navigation li a:hover {background: #ff5a00;}
.product_detail .detail_navigation .next {float: right;}
.product_detail .detail_navigation .back {margin-left: 290px;}



